.my-4 {
  margin-top: 3.5rem !important;
  margin-bottom: 1.5rem !important;
}

.task_id {
  padding: 0.75rem 1.5rem;
}

.small-p {
  padding-left: 1.6rem;
  padding-top: 1rem;
}

.overflow-task {
  height: 65vh;
  overflow: auto;
}

.form-check {
  padding-left: 0;
  text-align: center;
}

.completed, .completed * {
  text-decoration: line-through;
  color: #43A047;
}

.novalue {
  color: #1a73e8;
}

