/* You can add global styles to this file, and also import other style files */

@import "assets/css/material-dashboard.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  height: 100vh;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 17.125rem;
}

.bg-gray-200 {
  height: 100vh;
}
